<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 책가방</title>
</head>
<body>
	<form action="/login" method="post">
		<table>
			<tr>
				<th>ID</th>
				<td><input type="text" id="username" name="username" placeholder="ID"></td>
			</tr>
			<tr>
				<th>PW</th>
				<td><input type="password" id="password" name="password" placeholder="ID"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="로그인"
					style="width: 100%;"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="button" value="회원가입"
					onclick="window.location.href='/signup';" style="width: 100%;"></td>
			</tr>
		</table>
	</form>
</body>
</html>